/* Existing styles for .game-board, used to center the new .game-board-wrapper */
.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* New wrapper class */
.game-board-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.player-side {
  display: flex;
  justify-content: center;
}

.top-side {
  flex-direction: row-reverse;  /* If you want the top row reversed compared to the bottom one */
}

.bottom-side {
  flex-direction: row;
}

.pit-container {
  position: relative;
  width: 100px;   /* Adjusted for a better fit */
  height: 200px; /* Adjusted to fit balls in two columns */
  margin: 5px;
}

.container-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.pit {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1;
}

/* Specific positions for each ball in a 2-column style */
.pit-0 { top: 5%; left: 22%; }
.pit-1 { top: 5%; right: 22%; }
.pit-2 { top: 20%; left: 22%; }
.pit-3 { top: 20%; right: 22%; }
.pit-4 { top: 35%; left: 22%; }
.pit-5 { top: 35%; right: 22%; }
.pit-6 { top: 50%; left: 22%; }
.pit-7 { top: 50%; right: 22%; }
.pit-8 { top: 65%; left: 22%; }

.pit:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

/* Aesthetic styles for the pits and the game board */
.pit {
  border-radius: 50%;
  border: 1px solid #000;
  font-size: 16px;
}

.pit:hover {
  background-color: #f5f5f5;
}

.win-board-container {
  position: relative;
  margin: 10px;
  display: flex; /* Use flexbox to easily position the counter to the left of the winboard */
  align-items: center; /* Vertically center the winboard and counter */
}

.win-board {
  width: 925px;  /* Adjust as per the winBoard image size */
  height: 50px; /* Adjust as per the winBoard image size */
  /* margin-left: 10px; /* Provide some space between counter and winboard */
}

.win-counter {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  border-radius: 30px;
  margin-right: 10px; /* Space between counter and winboard */
}

.tuzdih {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; /* To ensure the tuzdih image appears on top of balls and pit */
}

.pit-counter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 15px;
  font-weight: bold;
}

.win-board-counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 24px;
  font-weight: bold;
}